<h1>Seja bem vindo ao curso de Angular!</h1>
<h4 class="text-danger">{{ anuncio }}</h4>
<div class="row">
  <div class="col">
    <app-card-produto
      [foto] = "foto"
      [nomeProduto] = "nomeProduto"
      [promocao] = "promocao"
      [idProduto] = "idProduto"
      [dataValidade] = "dataValidade"
      [precoProduto] = "precoProduto"
    ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto
      foto = "https://i.ytimg.com/vi/IOfDoyP1Aq0/maxresdefault.jpg"
      nomeProduto = "Curso Node.Js"
      [promocao] = "false"
      [idProduto] = "15"
      dataValidade = "2021-12-31"
      [precoProduto] = "2490"
    ></app-card-produto>

  </div>
</div>
